.Band {
  font-family: Space Grotesk;
  gap: 5rem;
  .textDiv {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
    height: 100%;
    .buttonDiv {
      padding: 10px 6px;
      border-radius: 0.2rem;
      display: flex;
      justify-content: space-around;
      button {
        border: none;
        padding: 12px 28px;
        border-radius: 0.2rem;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
      }
    }
    .info_Div {
      display: flex;
      padding: 1rem 2rem;
      margin-top: 0.5rem;
      text-align: center;
      border-radius: 0.2rem;
      flex-direction: column;
      justify-content: space-around;
      transition: opacity 0.15s linear;
      height: 250px;

      h4{
        font-size: 35px;
        margin: -0.2rem 0;
      }
      p {
        font-weight: 700;
        color: white;
        transition: all 2s ease;
        font-size: 20px;
      }
    }
  }
  .container {
    width: 20rem;
    height: 22rem;
    position: relative;
    overflow: hidden;
    margin: 3rem 0;
    border-radius: 0.8rem;
    background-color: black;
    @media (max-width: 1200px) {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
    }
  }
}
@media (max-width: 1200px) {
.Band {
  flex-direction: column;
  height: 700px;
  .textDiv {
    width: 100%;
    align-items: center;
    margin-top: -5rem;
    .buttonDiv {
      flex-direction: column;
      width: 50%;
      gap: 1rem;
    }
    .info_Div{
      gap: 1rem;
        width: 90%;
        text-align: center;
        h4{
          margin-top: 2rem;
        }
    }
  }
}}
@media (min-width: 1200px) {
    .Band {
  flex-direction: row;
  padding: 30px 0;

    .textDiv {
        width: 40%;
        .buttonDiv {
          flex-direction: row;
          gap: 0;
        }
        .info_Div{
          h4{
            margin-top: 1rem;
          }
        }
      }
}}
