.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: center;
  background-image: url("src/assets/blob-scene-haikei (7).svg");
    h2{
        color: white;
    }
}
