.sectionNew {
  display: flex;
  justify-content: center;

  .DivMain {
    width: 90%;
    display: flex;
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .imgDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 130px;
        border-radius: 100%;
        background-color: #bcc3e6;
        transition: all 0.7s ease;
        svg {
          width: 90%;
          height: 60%;
          color: #3c55cb;
        }
      }
      .imgDiv:hover {
        background-color: #3c55cb;
        transition: all 0.7s ease;
        svg {
          color: #bcc3e6;
        }
      }
      .textDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        h5 {
          font-size: 22px;
          font-weight: bold;
        }
        p {
          font-size: 15px;
          font-weight: 500;
          margin-top: -1rem;
          color: rgb(114, 114, 114);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .DivMain {
    flex-direction: column;
    justify-content: center;
    section {
      width: 100%;
      .textDiv {
        p {
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .DivMain {
    flex-direction: row;
    justify-content: space-around;
    section{
      width: 33%;
      .textDiv {
        width: 65%;
      }
    }
  }
}
